@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Roboto);
.container{
  margin-top: 30px;
  text-align: center;
}

.title{
  font-size: 5em;
  font-family: 'Pacifico';
  margin-bottom: 70px;
}
.item5, .item6{
  font-family: 'Roboto';
  font-size: 2em;
}

.item1 { grid-area: session-length; }
.item2 { grid-area: break-length; }
.item3 { grid-area: timer; }
.item4 { grid-area: reset; }
.item5 { grid-area: set; }
.item6 { grid-area: break; }

.grid-container{
  display: grid;
  grid-template-areas:
    'set break'
    'session-length break-length'
    'timer timer'
    'reset reset'
}


.pomodoro-clock {
	width: 270px;
	height: 270px;
	margin: 0 auto;
	position: relative;
}

	.timer-box {
		position: absolute;
		left: 50%;
		top: 50%;
		padding: 0px;
		margin: 0px;
		transform: translate(-50%, -50%);
		text-align: center;
		font-size: 17px;
		font-weight: 300;
	}

	.screen {
		font-size: 4.8em;
		margin: 0;
		line-height: 1;
	}

.button1 {
  font-size: 16px;
  color: #4c4c4c;
  background-color: white;
  border: none;
}

button:focus {
  outline:0;
}


#break-length, #session-length{
  border: 2px solid #f49e42;
  border-radius: 100%;
  font-size: 2.3em;
  height: 75px;
  width: 75px;
  padding: 12px;
  margin: 0 auto;
}

.fa-plus, .fa-minus{
  font-size: 2em;
  background-color: white;
  border: none;
}

.reset{
  border: none;
  background-color: white;
  text-size: 3em;
  margin-top: 20px;
  margin-bottom: 150px;
  color: #f49e42
}


